*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%;
  line-height: 3rem; }
  @media (max-width: 1440px) {
    html {
      font-size: 55.5%; } }
  @media (max-width: 1220px) {
    html {
      font-size: 50%; } }
  @media (max-width: 1065px) {
    html {
      font-size: 45%; } }
  @media (max-width: 990px) {
    html {
      font-size: 40%; } }
  @media (max-width: 850px) {
    html {
      font-size: 35%; } }
  @media (max-width: 750px) {
    html {
      font-size: 30%; } }
  @media (max-width: 480px) {
    html {
      font-size: 22%; } }
  @media (max-width: 375px) {
    html {
      font-size: 20%; } }

body {
  box-sizing: inherit;
  font-family: 'Tajawal', sans-serif;
  justify-content: center;
  align-items: center; }

section {
  padding: 5rem 14rem;
  display: flex;
  justify-content: center;
  align-items: center; }
  @media (max-width: 1440px) {
    section {
      padding: 5rem 7rem; } }

img {
  border-radius: 5%;
  box-shadow: 0rem 0.2rem 0.2rem 0rem #00000066; }

h1 {
  font-size: 6.5rem;
  color: #AE73A9;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 300;
  padding: 6.5rem; }
  @media (max-width: 1065px) {
    h1 {
      padding: 4rem 10rem; } }
  @media (max-width: 375px) {
    h1 {
      font-size: 7.5rem; } }

h2 {
  font-size: 5rem;
  color: white;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 300;
  padding: 3rem; }
  @media (max-width: 375px) {
    h2 {
      font-size: 7.5rem; } }

h3 {
  font-size: 4rem;
  color: #FE766A;
  padding: 2rem 15rem; }

p {
  padding: 1rem 5rem;
  font-size: 2rem;
  line-height: 3.5rem;
  color: #461A3E;
  margin: 1.5rem; }
  @media (max-width: 990px) {
    p {
      font-size: 3rem;
      line-height: 4rem; } }
  @media (max-width: 850px) {
    p {
      font-size: 3rem; } }
  @media (max-width: 550px) {
    p {
      font-size: 3rem; } }
  @media (max-width: 480px) {
    p {
      font-size: 4rem;
      line-height: 6rem; } }
  @media (max-width: 375px) {
    p {
      font-size: 4.5rem;
      line-height: 6rem; } }

h4 {
  font-size: 3rem;
  color: wheat;
  font-weight: 300;
  line-height: 5rem; }
  @media (max-width: 480px) {
    h4 {
      font-size: 4.5rem; } }
  @media (max-width: 375px) {
    h4 {
      font-size: 4rem; } }

h5 {
  font-size: 10rem;
  color: white;
  font-family: 'Tajawal', sans-serif;
  font-weight: 100;
  padding: 3rem; }

h6 {
  font-size: 5rem;
  color: white;
  font-family: 'Tajawal', sans-serif;
  font-weight: 100; }

span {
  color: #FE9055;
  font-size: 3em;
  font-weight: 200;
  padding: 0rem 5rem;
  font-weight: 300; }

.art > span {
  position: absolute;
  font-size: 8rem;
  font-weight: 500; }
  @media (max-width: 1440px) {
    .art > span {
      font-size: 7rem; } }
  @media (max-width: 1220px) {
    .art > span {
      font-size: 6.7rem; } }
  @media (max-width: 990px) {
    .art > span {
      font-size: 6.7rem; } }
  @media (max-width: 650px) {
    .art > span {
      font-size: 5.4rem; } }
  @media (max-width: 550px) {
    .art > span {
      font-size: 8.6rem;
      position: unset;
      margin: 4rem 0rem; } }

.ourvalues {
  color: #7B417B;
  left: 25rem;
  top: 11rem; }

.response {
  color: #FE5862;
  position: absolute;
  left: 10rem;
  top: 16rem; }

.collab {
  color: #FE9055;
  right: 7rem;
  top: 16rem; }

.account {
  color: #FE766A;
  left: 28rem;
  top: 23rem; }

.child {
  color: #AE73A9;
  right: 2rem;
  top: 23rem; }

.section-paragraph {
  padding: 0rem 0rem; }

header {
  height: 80vh;
  width: 100%;
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: linear-gradient(to right bottom, crimson, #461a3ee0, #8a046d85), url(/img.home/backtwo.jpg);
  background-blend-mode: darken; }
  @media (max-width: 1110px) {
    header {
      height: 72vh; } }
  @media (max-width: 850px) {
    header {
      height: 58vh; } }
  @media (max-width: 750px) {
    header {
      height: 50vh; } }
  @media (max-width: 550px) {
    header {
      height: 47vh; } }
  @media (max-width: 480px) {
    header {
      height: 43vh; } }
  @media (max-width: 375px) {
    header {
      height: 32vh; } }

.header {
  position: absolute;
  z-index: 1;
  width: 90%;
  left: 10rem;
  margin-top: 5rem;
  width: 50%;
  margin-top: 10rem; }
  @media (max-width: 480px) {
    .header {
      width: 65%; } }
  @media (max-width: 375px) {
    .header {
      width: 60%; } }
  .header__sub {
    margin-left: 12rem;
    margin-bottom: 8rem; }

.art {
  margin: 0rem;
  padding: 5rem 10rem;
  height: 60vh;
  position: relative; }
  @media (max-width: 1440px) {
    .art {
      height: 70vh; } }
  @media (max-width: 1220px) {
    .art {
      height: 60vh; } }
  @media (max-width: 990px) {
    .art {
      height: 45vh; } }
  @media (max-width: 850px) {
    .art {
      height: 40vh; } }
  @media (max-width: 550px) {
    .art {
      height: 70vh;
      display: flex;
      flex-direction: column; } }
  @media (max-width: 375px) {
    .art {
      height: 60vh; } }
  .art__paragraph {
    position: relative;
    bottom: -15rem;
    text-align: center;
    width: 80%; }
    @media (max-width: 990px) {
      .art__paragraph {
        width: 100%; } }
    @media (max-width: 850px) {
      .art__paragraph {
        width: 100%; } }
    @media (max-width: 550px) {
      .art__paragraph {
        width: 100%;
        position: initial; } }

.aim {
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column; }

.our-vision {
  background-color: #FE766A;
  display: flex;
  flex-direction: row; }
  @media (max-width: 990px) {
    .our-vision {
      flex-direction: column; } }
  .our-vision__paragraph {
    color: white;
    padding: 0rem 2rem;
    width: 100%; }
  .our-vision__imgcontainer {
    display: flex; }
  .our-vision__pic {
    height: 25rem;
    width: 25rem;
    margin: 1rem; }
    @media (max-width: 990px) {
      .our-vision__pic {
        margin: 1rem;
        height: 25rem;
        width: 30rem; } }

.nav {
  position: relative;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  padding: 3rem 5rem; }
  @media (max-width: 750px) {
    .nav {
      padding: 5rem 5rem; } }
  .nav__logo {
    height: 5rem;
    padding: 1rem;
    box-shadow: none; }
  .nav__box {
    right: 5rem;
    position: absolute; }
    @media (max-width: 750px) {
      .nav__box {
        display: none; } }
  .nav__menu {
    color: #7B417B;
    text-decoration: none;
    padding: 0rem 3rem;
    font-size: 2rem;
    font-weight: 400; }
    .nav__menu:hover {
      color: #e6cbe5; }

.small-nav {
  background-color: #FE5862;
  display: flex;
  justify-content: flex-end; }
  @media (max-width: 750px) {
    .small-nav {
      display: none; } }

.dropdown {
  position: relative;
  right: 15rem; }
  .dropdown__link {
    display: none; }

.dropdown ul, li {
  background-color: #FE766A;
  width: 17rem;
  height: 50px;
  line-height: 5rem;
  text-align: center;
  float: left;
  color: #fff;
  font-size: 1.5rem;
  position: relative;
  list-style: none;
  z-index: 1001;
  transition: all 0.1s ease-in-out;
  cursor: pointer; }
  @media (max-width: 750px) {
    .dropdown ul, li {
      background-color: transparent; } }

.dropdown ul li:hover {
  background-color: #ff988f; }

.dropdown ul li:hover > ul {
  display: block; }

.dropdown a {
  color: white;
  text-decoration: none; }

@media (min-width: 750px) {
  .navigation {
    display: none; } }

@media (max-width: 750px) {
  .navigation__checkbox {
    display: none; }
  .navigation__checkbox:checked ~ .navigation__background {
    transform: scale(80); }
  .navigation__checkbox:checked ~ .navigation__nav {
    opacity: 1;
    width: 100%; }
  .navigation__checkbox:checked + .navigation__button .navigation__icon {
    background-color: transparent; }
  .navigation__checkbox:checked + .navigation__button .navigation__icon::before {
    top: 0rem;
    transform: rotate(45deg); }
  .navigation__checkbox:checked + .navigation__button .navigation__icon::after {
    transform: rotate(-45deg);
    top: 0rem; }
  .navigation__button {
    background-color: #FE9055;
    height: 9rem;
    width: 9rem;
    position: fixed;
    top: 7.5rem;
    right: 10.5rem;
    border-radius: 50%;
    z-index: 5000;
    opacity: 1;
    box-shadow: 0 0.5rem 1.5rem #7b417b; }
  .navigation__background {
    height: 9rem;
    width: 9rem;
    border-radius: 50%;
    position: fixed;
    top: 7.5rem;
    right: 10.5rem;
    background-image: radial-gradient(#FE766A, #FE9055);
    z-index: 1000;
    transition: transform 0.8s;
    text-align: center; }
  .navigation__nav {
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1500;
    opacity: 0;
    transition: opacity .8s;
    text-align: center; }
  .navigation__list {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    list-style: none;
    text-align: center;
    display: flex;
    flex-direction: column;
    width: 100%; }
  .navigation__item {
    width: 100%;
    padding: 3rem;
    border-bottom: white 0.2rem solid;
    justify-content: center;
    align-content: center;
    display: flex;
    transition: 0.1s ease-in;
    overflow: hidden; }
    .navigation__item:hover {
      background-color: white;
      color: #FE5862; }
  .navigation__link {
    font-size: 4rem;
    font-weight: 300;
    color: white;
    text-decoration: none;
    width: 100%;
    transition: 0.1s ease-in;
    overflow: hidden; }
    .navigation__link:hover {
      background-color: white;
      color: #FE5862; }
  .navigation__icon {
    position: relative;
    margin-top: 4.5rem; }
    .navigation__icon, .navigation__icon::before, .navigation__icon::after {
      width: 6rem;
      height: 1.5px;
      left: 1.3rem;
      background-color: white;
      display: inline-block; }
    .navigation__icon::before, .navigation__icon::after {
      content: "";
      position: absolute;
      left: 0;
      transition: all 0.1s; }
    .navigation__icon::before {
      top: -1rem; }
    .navigation__icon::after {
      top: 1rem; } }

.support-us {
  background-color: #7B417B; }

.contact {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5rem auto;
  width: 40%; }
  @media (max-width: 990px) {
    .contact {
      width: 60%; } }
  .contact__logo {
    height: 10rem; }
  .contact__paragraph {
    padding: 1rem;
    text-align: center; }
  .contact__form {
    padding: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0rem; }
  .contact__field {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 80%; }
  .contact__tick-box {
    width: 80%; }
  .contact__checkbox {
    height: 1rem;
    width: 1rem; }
  .contact__btn {
    padding: 1.5rem 5rem;
    background-color: #7B417B;
    border: none;
    border-radius: 1rem;
    margin: 3rem;
    color: white;
    font-size: 2rem; }
    .contact__btn:hover {
      cursor: pointer;
      background-color: #AE73A9; }
    .contact__btn:active {
      transform: scale(0.9); }

input, textarea {
  border: none;
  height: 5rem;
  width: 100%;
  margin: 1rem;
  border-radius: 1rem;
  background-color: transparent;
  border: solid purple 0.1rem; }

textarea {
  height: 15rem; }

.support {
  background-color: #FE766A;
  display: flex;
  justify-content: flex-start;
  flex-direction: column; }
  .support__title {
    background-color: white;
    text-align: center; }
  .support__paragraph {
    color: white; }
  .support__box {
    display: flex;
    justify-content: space-between; }
  .support__btn {
    padding: 1.5rem 5rem;
    background-color: transparent;
    border: solid white 0.2rem;
    border-radius: 1rem;
    margin: 3rem;
    color: white;
    font-size: 2rem;
    transition: all 0.2s ease; }
    .support__btn:hover {
      background-color: white;
      color: #FE766A;
      cursor: pointer; }
    .support__btn:active {
      transform: scale(0.9); }

.gofundme {
  height: 10rem;
  right: 25rem; }

.pics {
  padding: 5rem 10rem; }
  @media (max-width: 650px) {
    .pics {
      padding: 5rem 20rem;
      flex-wrap: wrap; } }
  @media (max-width: 550px) {
    .pics {
      padding: 5rem 10rem;
      flex-wrap: wrap; } }
  @media (max-width: 480px) {
    .pics {
      padding: 5rem 20rem;
      flex-wrap: wrap; } }

.programme {
  justify-content: space-between;
  align-items: center;
  display: flex;
  background-color: #FE5862; }
  @media (max-width: 480px) {
    .programme {
      flex-direction: column; } }
  .programme:nth-child(2n) {
    background-color: #AE73A9; }
  .programme__img {
    height: 40rem;
    width: 40rem; }
    @media (max-width: 750px) {
      .programme__img {
        height: 30rem;
        width: 30rem; } }
    @media (max-width: 480px) {
      .programme__img {
        height: 60rem;
        width: 60rem;
        margin: 1rem; } }

.profile-background-img {
  position: relative;
  width: 100%;
  height: 75vh;
  margin: 0rem;
  padding: 0rem; }
  @media (max-width: 375px) {
    .profile-background-img {
      height: 35vh; } }
  @media (max-width: 480px) {
    .profile-background-img {
      height: 40vh; } }
  @media (max-width: 750px) {
    .profile-background-img {
      height: 60vh; } }

.profile {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 2rem; }
  .profile__container {
    background-color: #FE766A;
    margin: 3rem 0rem;
    border-radius: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%; }
    .profile__container:nth-child(2) {
      background-color: #AE73A9; }
    .profile__container:nth-child(3) {
      background-color: #FE5862; }
    @media (max-width: 550px) {
      .profile__container {
        flex-direction: column; } }
  .profile__box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 4rem; }
    @media (max-width: 550px) {
      .profile__box {
        padding: 0;
        margin-top: 5rem; } }
  .profile__text-box {
    border-radius: 2rem;
    padding: 0rem; }
    @media (max-width: 1065px) {
      .profile__text-box {
        padding: 3rem 2rem; } }
  .profile__pic {
    height: 15rem;
    width: 15rem;
    border-radius: 50%; }
    @media (max-width: 1065px) {
      .profile__pic {
        height: 20rem;
        width: 20rem; } }
  .profile__name {
    font-weight: 600;
    font-size: 1.5rem;
    padding: 1rem;
    color: #7B417B; }
  .profile__text {
    font-size: 1.5rem;
    color: white;
    padding: 0rem 2rem; }

.vision__pic {
  border-radius: 50%;
  margin: 1rem;
  height: 20rem;
  width: 20rem; }

.partners {
  background-color: #AE73A9;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 0rem; }
  .partners__box {
    padding: 2rem;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%; }
  .partners__title {
    margin-top: 3rem; }
  .partners__icon {
    height: 15rem;
    width: 20rem;
    margin: 2rem;
    box-shadow: none; }
    @media (max-width: 480px) {
      .partners__icon {
        height: 13rem;
        width: 18rem; } }

.footer {
  background-image: url(/img.partnerIcon/hand&phone.png);
  background-repeat: no-repeat;
  background-position: right;
  position: relative;
  background-color: #7B417B;
  padding: 5rem;
  display: flex;
  justify-content: center; }
  @media (max-width: 375px) {
    .footer {
      background-position: left; } }
  .footer__box {
    position: relative;
    display: flex;
    align-items: center; }
    @media (max-width: 480px) {
      .footer__box {
        left: -2rem; } }
  .footer__logo {
    box-shadow: none;
    height: 2rem;
    left: 9rem; }
  .footer__bottom {
    display: flex;
    padding: 2rem;
    justify-content: space-around;
    align-items: center; }
  .footer__text {
    font-size: 1.7rem;
    text-decoration: none;
    color: #281526; }
    .footer__text:hover {
      color: #bababa; }
  @media (max-width: 550px) {
    .footer__social-text {
      font-size: 4rem; } }
  @media (max-width: 612px) {
    .footer__social-text {
      font-size: 4rem; } }
  @media (max-width: 550px) {
    .footer__social-text {
      font-size: 3.5rem; } }
  @media (max-width: 480px) {
    .footer__social-text {
      font-size: 3.5rem; } }

svg {
  height: 10rem;
  width: 10rem;
  fill: #FE9055;
  margin: 2rem;
  transition: all .3s ease; }
  svg:hover {
    transform: scale(1.05);
    cursor: pointer; }
  svg:active {
    transform: scale(1); }
  @media (max-width: 550px) {
    svg {
      height: 8rem;
      width: 8rem;
      margin: 1rem; } }
  @media (max-width: 480px) {
    svg {
      height: 7rem;
      width: 7rem;
      margin: 1rem; } }

.cosmetic {
  background-color: #FE766A; }
  .cosmetic__container {
    display: flex;
    justify-content: center;
    align-items: center; }
    @media (max-width: 990px) {
      .cosmetic__container {
        flex-wrap: wrap;
        padding: 0rem 24rem; } }
  .cosmetic__img {
    height: 30rem;
    width: 30rem;
    margin: 1rem; }

.events {
  display: flex;
  flex-direction: column;
  padding: 0rem; }
  .events__container {
    background-color: #FE5862;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem 0rem;
    padding: 2rem 10rem; }
    .events__container:nth-child(2) {
      background-color: #FE766A; }
    .events__container:nth-child(3) {
      background-color: #AE73A9; }
    @media (max-width: 375px) {
      .events__container {
        padding: 0rem 5rem; } }
  .events__text {
    color: white;
    padding: 0rem; }
  .events__img {
    height: 25rem;
    width: 25rem; }

.article {
  display: flex;
  padding: 0rem 5rem;
  align-items: center;
  justify-content: center;
  margin: 2rem 0rem; }
  .article__container {
    width: 50%;
    padding: 0rem; }
  .article__paragraph {
    padding: 3rem 3rem; }
  .article__img {
    height: 35rem;
    width: 35rem; }

.girltalk {
  display: flex;
  padding: 0rem 5rem;
  align-items: center;
  justify-content: center;
  position: relative; }
  @media (max-width: 850px) {
    .girltalk {
      flex-direction: column; } }
  .girltalk__container {
    width: 90%;
    padding: 0rem;
    display: flex;
    flex-direction: column; }
  .girltalk__box {
    position: relative;
    background-color: #FE5862;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30rem;
    height: 80rem; }
    @media (max-width: 850px) {
      .girltalk__box {
        width: 100%;
        height: 30rem;
        flex-direction: row;
        margin-top: 5rem; } }
  .girltalk__img {
    height: 25rem;
    width: 26rem;
    margin: 1rem; }

.queen {
  background-color: #FE5862;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  padding: 0rem 6rem; }
  @media (max-width: 850px) {
    .queen {
      flex-direction: column; } }
  .queen__container {
    width: 90%;
    padding: 0rem;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    margin: 1rem; }
  .queen__box {
    position: relative;
    background-color: #FE9055;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30rem;
    height: 80rem; }
    @media (max-width: 850px) {
      .queen__box {
        width: 100%;
        height: 30rem;
        flex-direction: row; } }
  .queen__img {
    height: 25rem;
    width: 26rem;
    margin: 1rem; }
  .queen__paragraph {
    color: white; }
    @media (max-width: 480px) {
      .queen__paragraph {
        padding: 0rem; } }
    @media (max-width: 1220px) {
      .queen__paragraph {
        padding: 1rem 2rem; } }
    @media (max-width: 1065px) {
      .queen__paragraph {
        padding: 0rem; } }

.internship {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }
  .internship__container {
    display: flex;
    width: 100%; }
    @media (max-width: 480px) {
      .internship__container {
        flex-direction: column;
        justify-content: center;
        align-items: center; } }
  .internship__img {
    height: 32rem;
    width: 32rem; }
    @media (max-width: 480px) {
      .internship__img {
        height: 50rem;
        width: 50rem;
        margin: 5rem; } }
  .internship__text-box {
    display: flex;
    flex-direction: column; }
  .internship__text {
    padding: 1rem 12rem; }
    @media (max-width: 750px) {
      .internship__text {
        padding: 1rem 6rem; } }
    @media (max-width: 570px) {
      .internship__text {
        padding: 0rem 6rem; } }
    @media (max-width: 480px) {
      .internship__text {
        padding: 0rem 3rem; } }

.reports {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }
  .reports__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 1rem; }
  .reports__img {
    height: 5rem;
    width: 5rem; }
  .reports__btn {
    padding: 1.5rem 5rem;
    background-color: #7B417B;
    border: none;
    border-radius: 1rem;
    margin: 3rem;
    color: white;
    font-size: 2rem;
    transition: all 0.1s ease-in-out; }
    .reports__btn:hover {
      background-color: #AE73A9;
      cursor: pointer; }

.media {
  position: relative;
  background-color: #FE5862;
  height: 70vh;
  display: flex; }
  @media (max-width: 1440px) {
    .media {
      height: 60vh; } }
  @media (max-width: 1220px) {
    .media {
      height: 55vh; } }
  @media (max-width: 990px) {
    .media {
      height: 35vh; } }
  @media (max-width: 750px) {
    .media {
      height: 80vh;
      flex-direction: column; } }
  @media (max-width: 480px) {
    .media {
      height: 60vh; } }
  .media__img {
    height: 30rem;
    width: 25%;
    border-radius: 0.2rem;
    position: absolute;
    z-index: 10;
    transition: all .2s;
    outline-offset: 1rem; }
    @media (max-width: 850px) {
      .media__img {
        height: 35rem;
        width: 30%; } }
    @media (max-width: 750px) {
      .media__img {
        height: 50rem;
        width: 45%; } }
    .media__img__p1 {
      left: 25rem;
      top: 5rem; }
      @media (max-width: 750px) {
        .media__img__p1 {
          left: -25rem;
          top: 0;
          position: relative; } }
    .media__img__p2 {
      top: 16rem;
      z-index: 15; }
      @media (max-width: 750px) {
        .media__img__p2 {
          left: 0;
          top: 0;
          position: relative;
          margin: 1rem; } }
    .media__img__p3 {
      right: 25rem;
      top: 10rem; }
      @media (max-width: 750px) {
        .media__img__p3 {
          right: -25rem;
          top: 0;
          position: relative; } }
    .media__img:hover {
      transform: scale(1.05) translateY(-0.5rem);
      z-index: 20;
      outline: 1.5rem solid #FE9055; }
  .media:hover .media__img:not(:hover) {
    transform: scale(0.95); }

.link {
  background-color: #FE766A;
  display: flex; }
  @media (max-width: 480px) {
    .link {
      flex-direction: column; } }
  .link__container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%; }
  .link__btn {
    padding: 1.5rem 5rem;
    background-color: transparent;
    border: solid 0.1rem white;
    border-radius: 1rem;
    margin: 3rem;
    color: white;
    font-size: 2rem;
    transition: all 0.3s ease-in-out;
    width: 80%; }
    .link__btn:hover {
      background-color: white;
      color: #FE5862;
      cursor: pointer; }
    .link__btn > a {
      color: white; }
      .link__btn > a:hover {
        color: #FE5862;
        cursor: pointer; }
    @media (max-width: 480px) {
      .link__btn {
        padding: 4.5rem 5rem;
        width: 70%;
        font-size: 3rem; } }
