*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%;
  line-height: 3rem; }
  html ::-webkit-scrollbar {
    width: 2rem;
    padding: 10rem; }
  html ::-webkit-scrollbar-thumb {
    border-radius: 10rem;
    box-shadow: 0 0 0.2rem 0 black;
    border: solid #FE766A 0.2rem; }
  @media (min-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media (min-width: 112.5em) {
    html {
      font-size: 56.25%; } }

body {
  box-sizing: inherit;
  font-family: 'Tajawal', sans-serif;
  justify-content: center;
  align-items: center; }

section {
  padding: 3rem 3rem;
  display: flex;
  justify-content: center;
  align-items: center; }

img {
  border-radius: 5%; }

h1 {
  font-size: 4rem;
  color: #AE73A9;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 500;
  padding: 6rem; }

h2 {
  font-size: 5rem;
  color: white;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 300;
  padding: 3rem; }

h3 {
  font-size: 4rem;
  color: #FE766A;
  padding: 2rem 15rem; }

p {
  padding: 1rem 5rem;
  font-size: 2.1rem;
  line-height: 3.7rem;
  color: #461A3E;
  margin: 1.5rem; }

h4 {
  font-size: 3rem;
  color: wheat;
  font-weight: 300;
  line-height: 5rem; }

h5 {
  font-size: 10rem;
  color: white;
  font-family: 'Tajawal', sans-serif;
  font-weight: 100;
  padding: 3rem; }

h6 {
  font-size: 5rem;
  color: white;
  font-family: 'Tajawal', sans-serif;
  font-weight: 100; }

span {
  color: #461a3e;
  font-size: 4em;
  font-weight: 200;
  padding: 0rem 5rem;
  font-weight: 300; }

.art > span {
  position: absolute;
  font-size: 7rem;
  font-weight: 500; }

.ourvalues {
  color: #7B417B;
  left: 25rem;
  top: 11rem;
  animation: moveDown 5s; }

.response {
  color: #FE5862;
  position: absolute;
  left: 7rem;
  top: 16rem;
  animation: moveinleft 12s; }

.collab {
  color: #FE9055;
  right: 9rem;
  top: 16rem;
  animation: moveinright 7s; }

.account {
  color: #FE766A;
  left: 20rem;
  top: 23rem;
  animation: moveinleft 9s; }

.child {
  color: #AE73A9;
  right: 7rem;
  top: 23rem;
  animation: moveinright 13s; }

.section-paragraph {
  padding: 0rem 0rem; }

@keyframes moveinleft {
  0% {
    opacity: 0;
    transform: translatex(-100px); }
  80% { }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveinright {
  0% {
    opacity: 0;
    transform: translatex(200px); }
  80% { }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveDown {
  0% {
    opacity: 0;
    transform: translatey(-100px); }
  80% { }
  100% {
    opacity: 1;
    transform: translate(0); } }

.popup, .popup-two, .popup-three, .popup-four, .popup-five {
  position: fixed;
  height: 100vh;
  width: 100%;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.864);
  z-index: 9999;
  opacity: 0;
  visibility: hidden;
  transition: all 0.4s; }
  .popup:target, .popup-two:target, .popup-three:target, .popup-four:target, .popup-five:target {
    opacity: 1;
    visibility: visible; }
  .popup__close:link, .popup__close:visited, .popup-two__close:link, .popup-two__close:visited, .popup-three__close:link, .popup-three__close:visited, .popup-four__close:link, .popup-four__close:visited, .popup-five__close:link, .popup-five__close:visited {
    color: #e20808;
    position: fixed;
    top: 2.5rem;
    right: 2.5rem;
    font-size: 5rem;
    text-decoration: none;
    display: inline-block;
    transition: all .2s; }
  .popup__img, .popup-two__img, .popup-three__img, .popup-four__img, .popup-five__img {
    background-repeat: no-repeat;
    background-size: cover; }
  .popup__img-1, .popup-two__img-1, .popup-three__img-1, .popup-four__img-1, .popup-five__img-1 {
    background-image: url(/img.blog/62699166.png); }
  .popup__img-2, .popup-two__img-2, .popup-three__img-2, .popup-four__img-2, .popup-five__img-2 {
    background-image: url(/img.blog/441615.jpg); }
  .popup__img-3, .popup-two__img-3, .popup-three__img-3, .popup-four__img-3, .popup-five__img-3 {
    background-image: url(/img.blog/5184841.png); }
  .popup__img-4, .popup-two__img-4, .popup-three__img-4, .popup-four__img-4, .popup-five__img-4 {
    background-image: url(/img.blog/232.jpg); }
  .popup__img-5, .popup-two__img-5, .popup-three__img-5, .popup-four__img-5, .popup-five__img-5 {
    background-image: url(/img.blog/56294.jpg); }
  .popup__content, .popup-two__content, .popup-three__content, .popup-four__content, .popup-five__content {
    width: 55%;
    height: 70vh;
    background-color: white;
    box-shadow: 0 0 5rem 1rem black;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    overflow: scroll;
    border-radius: .5rem;
    scroll-behavior: smooth; }

header {
  height: 100vh;
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: linear-gradient(to right bottom, crimson, #461a3ee0, #8a046d85), url(/img.home/backtwo.jpg);
  background-blend-mode: darken; }

.header {
  position: absolute;
  z-index: 1;
  width: 90%;
  left: 10rem;
  margin-top: 5rem;
  width: 50%;
  margin-top: 10rem; }
  .header__title {
    animation: moveinleft 5s; }
  .header__sub {
    margin-left: 12rem;
    margin-bottom: 8rem;
    animation: moveinright 5s; }

.art {
  margin: 0rem;
  padding: 5rem 10rem;
  height: 80vh;
  position: relative; }
  .art__paragraph {
    position: absolute;
    bottom: 5rem;
    text-align: center;
    width: 80%; }

.aim {
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column; }

.our-vision {
  background-color: #FE766A;
  display: flex;
  flex-direction: row; }
  .our-vision__paragraph {
    color: white;
    padding: 0rem 2rem;
    width: 100%; }
  .our-vision__imgcontainer {
    display: flex; }
  .our-vision__pic {
    height: 25rem;
    width: 25rem;
    margin: 1rem; }

.nav {
  position: relative;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  padding: 1rem 5rem; }
  .nav__logo {
    height: 8rem;
    box-shadow: none; }
  .nav__box {
    right: 5rem;
    position: absolute; }
    @media (max-width: 56.25em) {
      .nav__box {
        display: none; } }
  .nav__menu {
    color: #7B417B;
    text-decoration: none;
    padding: 0rem 3rem;
    font-size: 2rem;
    font-weight: 400; }
    .nav__menu:hover {
      color: #e6cbe5; }

.small-nav {
  background-color: #FE5862;
  display: flex;
  justify-content: flex-end; }
  @media (max-width: 56.25em) {
    .small-nav {
      display: none; } }

.dropdown {
  position: relative;
  right: 15rem; }
  .dropdown__link {
    display: none; }

.dropdown ul, li {
  background-color: #FE766A;
  width: 17rem;
  height: 50px;
  line-height: 5rem;
  text-align: center;
  float: left;
  color: #fff;
  font-size: 1.5rem;
  position: relative;
  list-style: none;
  z-index: 1001;
  transition: all 0.1s ease-in-out;
  cursor: pointer; }
  @media (max-width: 750px) {
    .dropdown ul, li {
      background-color: transparent; } }

.dropdown ul li:hover {
  background-color: #ff988f; }

.dropdown ul li:hover > ul {
  display: block; }

.dropdown a {
  color: white;
  text-decoration: none; }

@media (min-width: 56.25em) {
  .navigation {
    display: none; } }

.navigation__checkbox {
  display: none; }

.navigation__checkbox:checked ~ .navigation__background {
  transform: scale(80); }

.navigation__checkbox:checked ~ .navigation__nav {
  opacity: 1;
  width: 100%; }

.navigation__checkbox:checked + .navigation__button .navigation__icon {
  background-color: transparent; }

.navigation__checkbox:checked + .navigation__button .navigation__icon::before {
  top: 0rem;
  transform: rotate(45deg); }

.navigation__checkbox:checked + .navigation__button .navigation__icon::after {
  transform: rotate(-45deg);
  top: 0rem; }

.navigation__button {
  background-color: #FE9055;
  height: 9rem;
  width: 9rem;
  position: fixed;
  top: 7.5rem;
  right: 10.5rem;
  border-radius: 50%;
  z-index: 5000;
  opacity: 1;
  box-shadow: 0 0.5rem 1.5rem #7b417b; }

.navigation__background {
  height: 9rem;
  width: 9rem;
  border-radius: 50%;
  position: fixed;
  top: 7.5rem;
  right: 10.5rem;
  background-image: radial-gradient(#FE766A, #FE9055);
  z-index: 1000;
  transition: transform 0.8s;
  text-align: center; }

.navigation__nav {
  height: 100vh;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1500;
  opacity: 0;
  transition: opacity .8s;
  text-align: center; }

.navigation__list {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  list-style: none;
  text-align: center;
  display: flex;
  flex-direction: column;
  width: 100%; }

.navigation__item {
  width: 100%;
  padding: 3rem;
  border-bottom: white 0.2rem solid;
  justify-content: center;
  align-content: center;
  display: flex;
  transition: 0.1s ease-in;
  overflow: hidden; }
  .navigation__item:hover {
    background-color: white;
    color: #FE5862; }

.navigation__link {
  font-size: 4rem;
  font-weight: 300;
  color: white;
  text-decoration: none;
  width: 100%;
  transition: 0.1s ease-in;
  overflow: hidden; }
  .navigation__link:hover {
    background-color: white;
    color: #FE5862; }

.navigation__icon {
  position: relative;
  margin-top: 4.5rem; }
  .navigation__icon, .navigation__icon::before, .navigation__icon::after {
    width: 6rem;
    height: 1.5px;
    left: 1.3rem;
    background-color: white;
    display: inline-block; }
  .navigation__icon::before, .navigation__icon::after {
    content: "";
    position: absolute;
    left: 0;
    transition: all 0.1s; }
  .navigation__icon::before {
    top: -1rem; }
  .navigation__icon::after {
    top: 1rem; }

.support-us {
  background-color: #7B417B; }

.blog__container {
  width: 60%;
  margin: 0 auto; }

.blog__box {
  border-bottom: purple solid 0.2rem;
  padding: 2rem; }
  .blog__box:last-child {
    border: none; }

.blog__img {
  width: 30rem;
  height: 30rem;
  margin: 0 auto; }

.blog__img-1 {
  background-image: url(/img.blog/62699166.png);
  background-repeat: no-repeat;
  background-size: cover; }

.blog__img-2 {
  background-image: url(/img.blog/441615.jpg);
  background-repeat: no-repeat;
  background-size: cover; }

.blog__img-3 {
  background-image: url(/img.blog/5184841.png);
  background-repeat: no-repeat;
  background-size: cover; }

.blog__img-4 {
  background-image: url(/img.blog/232.jpg);
  background-repeat: no-repeat;
  background-size: cover; }

.blog__img-5 {
  background-image: url(/img.blog/56294.jpg);
  background-repeat: no-repeat;
  background-size: cover; }

.contact {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0rem auto;
  width: 40%; }
  .contact__logo {
    height: 10rem; }
  .contact__title {
    font-size: 6.5rem;
    color: #AE73A9;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 300;
    padding: 2rem; }
  .contact__paragraph {
    padding: 1rem;
    text-align: center; }
  .contact__form {
    padding: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0rem; }
  .contact__field {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 80%; }
  .contact__tick-box {
    width: 80%; }
  .contact__checkbox {
    height: 1rem;
    width: 1rem; }
  .contact__btn {
    padding: 1.5rem 5rem;
    background-color: #7B417B;
    border: none;
    border-radius: 1rem;
    margin: 3rem;
    color: white;
    font-size: 2rem; }
    .contact__btn:hover {
      cursor: pointer;
      background-color: #AE73A9; }
    .contact__btn:active {
      transform: scale(0.9); }

input, textarea {
  border: none;
  height: 5rem;
  width: 100%;
  margin: 1rem;
  border-radius: 0.5rem;
  border: solid purple 0.1rem; }
  input:focus, textarea:focus {
    background-color: #fff2ff; }

textarea {
  height: 15rem; }

label {
  font-size: 2rem; }

.support {
  background-color: #FE766A;
  display: flex;
  justify-content: flex-start;
  flex-direction: column; }
  .support__title {
    background-color: white;
    text-align: center; }
  .support__paragraph {
    color: white; }
  .support__box {
    display: flex;
    justify-content: space-between; }
  .support__btn {
    padding: 1.5rem 5rem;
    background-color: transparent;
    border: solid white 0.2rem;
    border-radius: 1rem;
    margin: 3rem;
    color: white;
    font-size: 2rem;
    transition: all 0.2s ease; }
    .support__btn:hover {
      background-color: white;
      color: #FE766A;
      cursor: pointer; }
    .support__btn:active {
      transform: scale(0.9); }

.gofundme {
  height: 10rem;
  right: 25rem; }

.home-images {
  background-color: yellow;
  height: 24rem;
  width: 26rem;
  margin: 1rem;
  border-radius: 0.5rem;
  background-size: cover;
  background-repeat: no-repeat; }
  .home-images__1 {
    background-image: url(/img.home/pic1.jpg); }
  .home-images__2 {
    background-image: url(/img.home/pic2.jpg); }
  .home-images__3 {
    background-image: url(/img.home/pic3.jpg); }
  .home-images__4 {
    background-image: url(/img.home/pic4.jpg); }
  .home-images__5 {
    background-image: url(/img.home/pic5.jpg); }
  .home-images__6 {
    background-image: url(/img.home/pic6.jpg); }
  .home-images__8 {
    background-image: url(/img.home/pic8.jpg); }
  .home-images__9 {
    background-image: url(/img.home/pic9.jpg); }
  .home-images__10 {
    background-image: url(/img.home/pic10.jpg); }
  .home-images__11 {
    background-image: url(/img.home/pic11.jpg); }
  .home-images__12 {
    background-image: url(/img.home/pic12.jpg); }
  .home-images__13 {
    background-image: url(/img.home/pic13.jpg); }
  .home-images__14 {
    background-image: url(/img.home/pic14.jpg); }
  .home-images__15 {
    background-image: url(/img.home/pic15.jpg); }

.programme {
  justify-content: space-between;
  align-items: center;
  display: flex;
  border-top: #b4a1b4 solid 0.1rem;
  border-bottom: #b4a1b4 solid 0.1rem;
  margin: 1rem; }
  .programme__img {
    height: 40rem;
    width: 40rem; }

.programme-images {
  height: 30rem;
  width: 32rem;
  border-radius: 0.5rem;
  background-size: cover;
  background-repeat: no-repeat; }
  .programme-images__1 {
    background-image: url(/img.programme/pic1.jpg); }
  .programme-images__2 {
    background-image: url(/img.programme/pic2.jpg); }
  .programme-images__3 {
    background-image: url(/img.programme/pic3.png); }
  .programme-images__4 {
    background-image: url(/img.programme/pic4.png); }
  .programme-images__5 {
    background-image: url(/img.programme/pic5.png); }
  .programme-images__6 {
    background-image: url(/img.programme/pic6.jpg); }
  .programme-images__7 {
    background-image: url(/img.programme/pic7.png); }
  .programme-images__8 {
    background-image: url(/img.programme/pic8.png); }
  .programme-images__9 {
    background-image: url(/img.programme/pic9.jpg); }
  .programme-images__10 {
    background-image: url(/img.programme/pic10.jpg); }
  .programme-images__11 {
    background-image: url(/img.programme/pic11.jpg); }
  .programme-images__12 {
    background-image: url(/img.programme/pic12.jpg); }
  .programme-images__13 {
    background-image: url(/img.programme/pic13.jpg); }
  .programme-images__14 {
    background-image: url(/img.programme/pic14.jpg); }
  .programme-images__15 {
    background-image: url(/img.programme/pic15.jpg); }

.ourteam-img {
  position: relative;
  height: 73vh;
  background-image: url(/img.team/pic2.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  left: 36rem; }

.profile {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 3rem; }
  .profile__container {
    background-color: #FE766A;
    margin: 3rem 0rem;
    border-radius: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%; }
    .profile__container:nth-child(2) {
      background-color: #AE73A9; }
    .profile__container:nth-child(3) {
      background-color: #FE5862; }
  .profile__box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 4rem; }
  .profile__text-box {
    border-radius: 2rem;
    padding: 0rem; }
  .profile__name {
    font-weight: 600;
    font-size: 1.7rem;
    padding: 1rem;
    color: white; }
  .profile__text {
    font-size: 1.5rem;
    color: white;
    padding: 0rem 2rem; }

.profile-pic {
  height: 15rem;
  width: 15rem;
  border-radius: 50%;
  background-size: cover;
  background-repeat: no-repeat; }
  .profile-pic__1 {
    background-image: url(/img.team/pic1.jpg); }
  .profile-pic__2 {
    background-image: url(/img.team/pic4.jpg); }
  .profile-pic__3 {
    background-image: url(/img.team/pic3.jpg); }

.vision__pic {
  border-radius: 50%;
  margin: 1rem;
  height: 20rem;
  width: 20rem; }

.workshop-images {
  height: 20rem;
  width: 20rem;
  border-radius: 50%;
  margin: .5rem;
  background-size: cover;
  background-repeat: no-repeat; }
  .workshop-images__1 {
    background-image: url(/img.workshop//pic1.jpg); }
  .workshop-images__2 {
    background-image: url(/img.workshop//pic2.jpg); }
  .workshop-images__3 {
    background-image: url(/img.workshop//pic3.png); }
  .workshop-images__4 {
    background-image: url(/img.workshop//pic4.jpg); }
  .workshop-images__5 {
    background-image: url(/img.workshop/pic5.jpg); }

.partners {
  background-color: #AE73A9;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 0rem; }
  .partners__box {
    padding: 2rem;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%; }
  .partners__title {
    margin-top: 3rem; }
  .partners__icon {
    height: 10rem;
    width: 15rem;
    margin: 2rem;
    box-shadow: none; }

.footer {
  background-image: url(/img.partnerIcon/hand&phone.png);
  background-repeat: no-repeat;
  background-position: right;
  position: relative;
  background-color: #7B417B;
  padding: 5rem;
  display: flex;
  justify-content: center; }
  .footer__box {
    position: relative;
    display: flex;
    align-items: center; }
  .footer__logo {
    box-shadow: none;
    height: 6rem;
    left: 9rem; }
  .footer__bottom {
    display: flex;
    padding: 2rem;
    justify-content: space-around;
    align-items: center; }
  .footer__text {
    font-size: 1.7rem;
    text-decoration: none;
    color: #281526; }
    .footer__text:hover {
      color: #bababa; }

svg {
  height: 6rem;
  width: 6rem;
  fill: #FE9055;
  margin: 2rem;
  transition: all .3s ease; }
  svg:hover {
    transform: scale(1.05);
    cursor: pointer; }
  svg:active {
    transform: scale(1); }

.cosmetic {
  background-color: #FE766A; }
  .cosmetic__container {
    display: flex;
    justify-content: center;
    align-items: center; }
  .cosmetic__img {
    height: 30rem;
    width: 30rem;
    margin: 1rem; }

.events {
  display: flex;
  flex-direction: column;
  padding: 0rem; }
  .events__container {
    background-color: #FE5862;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem 0rem;
    padding: 2rem 10rem; }
    .events__container:nth-child(2) {
      background-color: #FE766A; }
    .events__container:nth-child(3) {
      background-color: #AE73A9; }
  .events__text {
    color: white;
    padding: 0rem; }
  .events__img {
    height: 25rem;
    width: 25rem; }

.article {
  display: flex;
  padding: 0rem 5rem;
  align-items: center;
  justify-content: center;
  margin: 2rem 0rem; }
  .article__container {
    width: 50%;
    padding: 0rem; }
  .article__paragraph {
    padding: 3rem 3rem; }
  .article__img {
    height: 35rem;
    width: 35rem; }

.girltalk {
  display: flex;
  padding: 0rem 5rem;
  align-items: center;
  justify-content: center;
  position: relative; }
  .girltalk__container {
    width: 90%;
    padding: 0rem;
    display: flex;
    flex-direction: column; }
  .girltalk__box {
    position: relative;
    background-color: #FE5862;
    padding: 2rem;
    top: 1rem; }
  .girltalk__img {
    height: 25rem;
    width: 26rem;
    margin: 1rem; }

.queen {
  background-color: #FE5862; }
  .queen__container {
    width: 90%;
    padding: 0rem;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    margin: 1rem; }
  .queen__box {
    position: relative;
    background-color: #FE9055;
    padding: 2rem;
    height: 80rem; }
  .queen__img {
    height: 25rem;
    width: 26rem;
    margin: 1rem; }
  .queen__paragraph {
    color: #281526;
    padding: 1rem; }

.events-images {
  height: 25rem;
  width: 26rem;
  border-radius: .5rem;
  margin: .5rem;
  background-size: cover;
  background-repeat: no-repeat; }
  .events-images__1 {
    background-image: url(/img.events/pic10.png); }
  .events-images__2 {
    background-image: url(/img.events/pic5.jpg); }
  .events-images__3 {
    background-image: url(/img.events/pic8.png); }
  .events-images__4 {
    background-image: url(/img.events/pic9.png); }
  .events-images__5 {
    background-image: url(/img.events/pic1.jpg); }
  .events-images__6 {
    background-image: url(/img.events/pic2.png); }
  .events-images__7 {
    background-image: url(/img.events/pic3.png); }
  .events-images__8 {
    background-image: url(/img.events/pic4.png); }
  .events-images__9 {
    background-image: url(/img.events/pic5.jpg); }
  .events-images__10 {
    background-image: url(/img.events/pic6.jpg); }

.internship {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }
  .internship__container {
    display: flex;
    width: 100%; }
  .internship__img {
    height: 32rem;
    width: 32rem; }
  .internship__text-box {
    display: flex;
    flex-direction: column; }
  .internship__text {
    padding: 1rem 12rem; }

.reports {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 90%;
  position: relative;
  left: 5rem; }
  .reports__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 1rem; }
  .reports__img {
    height: 5rem;
    width: 5rem; }
  .reports__btn {
    padding: 1.5rem 5rem;
    background-color: #7B417B;
    border: none;
    border-radius: 1rem;
    margin: 3rem;
    color: white;
    font-size: 2rem;
    transition: 0.1s ease-in-out; }
    .reports__btn:hover {
      background-color: #AE73A9;
      cursor: pointer; }

.media {
  position: relative;
  height: 70vh;
  display: flex; }
  .media__img {
    height: 30rem;
    width: 25%;
    border-radius: 0.2rem;
    position: absolute;
    z-index: 10;
    transition: all .2s;
    outline-offset: 1rem; }
    .media__img__p1 {
      left: 25rem;
      top: 5rem; }
    .media__img__p2 {
      top: 16rem;
      z-index: 15; }
    .media__img__p3 {
      right: 25rem;
      top: 10rem; }
    .media__img:hover {
      transform: scale(1.05) translateY(-0.5rem);
      z-index: 20;
      outline: 1.5rem solid #FE9055; }
  .media:hover .media__img:not(:hover) {
    transform: scale(0.95); }

.link {
  background-color: #FE766A;
  display: flex; }
  .link__container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%; }
  .link__btn {
    padding: 2rem 5rem;
    background-color: transparent;
    border: solid 0.1rem white;
    border-radius: 1rem;
    margin: 3rem;
    font-size: 1.5rem;
    transition: all 0.3s ease-in-out;
    width: 80%; }
    .link__btn:hover {
      background-color: white;
      cursor: pointer; }
    .link__btn > a {
      color: white; }
      .link__btn > a:hover {
        color: #FE5862;
        cursor: pointer; }
