.art{
   
    margin: 0rem;
    padding: 5rem 10rem;
    height: 80vh;
    position: relative;
 
    &__paragraph{
        position: absolute;
        bottom: 5rem;
        text-align: center;
        width: 80%;
    }

   
}



.aim{
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
   
}

.our-vision{

    background-color: $salmon;
    display:flex;
    flex-direction: row;

    &__paragraph{
        color: white;
        padding: 0rem 2rem;
        width: 100%;

       
    }
    &__imgcontainer{
        display: flex;
     
    }

    &__pic{
        height: 25rem;
        width: 25rem;
        margin: 1rem;

    }
}

