.events{
    display: flex;
    flex-direction: column;
    padding: 0rem;
   
    &__container{
        background-color: $sizzling-red;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 1rem 0rem;
        padding: 2rem 10rem;

        &:nth-child(2){
            background-color: $salmon;
        }
        &:nth-child(3){
            background-color: $purple-pearly;
        }
    }

    &__text{
        color: white;
        padding: 0rem;
    }

    &__img{
        
      
        height: 25rem;
        width: 25rem;
    }
}

.article{

   
    display: flex;
    padding: 0rem 5rem;
    align-items: center;
    justify-content: center;
    margin: 2rem 0rem;
    &__container{
       
        width: 50%;
        padding: 0rem;
    }
    &__paragraph{
        padding: 3rem 3rem;
    }

    &__img{
        height: 35rem;
        width: 35rem;
    }
}

.girltalk{
 
    display: flex;
    padding: 0rem 5rem;
    align-items: center;
    justify-content: center;
    position: relative;

    &__container{
       
        width: 90%;
        padding: 0rem;
        display: flex;
        flex-direction: column;
    }
    &__box{
        position: relative;
        background-color: #FE5862;
        padding: 2rem;
        top: 1rem;
    }
    &__img{
        
        height: 25rem;
        width: 26rem;
        margin: 1rem;        
    }
}

    .queen{
        background-color: $sizzling-red;
     

        &__container{
           
            width: 90%;
            padding: 0rem;
            display: flex;
            flex-direction: column;
            padding: 1rem;
            margin: 1rem;

            
            
        }
        &__box{
            position: relative;
            background-color: #FE9055;
            padding: 2rem;
            height: 80rem;
    
        }
        &__img{
            
            height: 25rem;
            width: 26rem;
            margin: 1rem;
           
        }

        &__paragraph{
            color: #281526;;
            padding: 1rem;

        }
        
    
    
}

.events-images{
  
    height: 25rem;
    width: 26rem;
    border-radius: .5rem;
    margin: .5rem;
    background-size: cover;
    background-repeat: no-repeat;
 
    &__1{
       background-image: url(/img.events/pic10.png);
    }
 
    &__2{
       background-image: url(/img.events/pic5.jpg);
    }
    
    &__3{
       background-image: url(/img.events/pic8.png);
    }
 
    &__4{
       background-image: url(/img.events/pic9.png);
    }
    
    &__5{
       background-image: url(/img.events/pic1.jpg);
    }

    &__6{
        background-image: url(/img.events/pic2.png);
     }
  
     &__7{
        background-image: url(/img.events/pic3.png);
     }
     
     &__8{
        background-image: url(/img.events/pic4.png);
     }
  
     &__9{
        background-image: url(/img.events/pic5.jpg);
     }
     
     &__10{
        background-image: url(/img.events/pic6.jpg);
     }
}