.reports{
   
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90%;
    position: relative;
    left: 5rem;

    &__container{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        padding: 1rem;
    }

    &__img{
        height: 5rem;
        width: 5rem;
    }

    
    &__tex{
        
    }

    &__btn{
        padding: 1.5rem 5rem;
        background-color: $plum;
        border: none;
        border-radius: 1rem;
        margin: 3rem;
        color: white;
        font-size: 2rem;
        transition: 0.1s ease-in-out;

        &:hover{
            background-color: $purple-pearly;
            cursor: pointer;
        }
    }

}

.media{
    position: relative;
    // background-color: $sizzling-red;
    height: 70vh;
    display: flex;

   

    &__img{
        height: 30rem;
        width: 25%;
        border-radius: 0.2rem;
        position: absolute;
        z-index: 10;
        transition: all .2s;
        outline-offset: 1rem;;

        &__p1{
            left:25rem;
            top: 5rem;
        }

        &__p2{
           
            top: 16rem;
            z-index: 15;

        }

        &__p3{
            right: 25rem;
            top: 10rem;

        }

        &:hover{
            transform: scale(1.05) translateY(-.5rem);
            z-index: 20;
            outline: 1.5rem solid  $tangerine;

        }

    }

    &:hover &__img:not(:hover){
        transform: scale(.95);
    }
}

.link{
    background-color: $salmon;
    display: flex;

    &__container{
    
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;
    }

    &__btn{
       
        padding: 2rem 5rem;
        background-color: transparent;
        border: solid 0.1rem white;
        border-radius: 1rem;
        margin: 3rem;
        font-size: 1.5rem;
        transition: all 0.3s ease-in-out;
        width: 80%;
        
    

        &:hover{
            background-color: white;
            cursor: pointer;
        }

        & > a {
            color:white;
          
            &:hover{
                color: $sizzling-red;
                cursor: pointer;
            }
        }

    }
}

