.ourteam-img{
    
    position: relative;
    height: 73vh;
    // width: 23%;
    background-image: url(/img.team/pic2.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    left: 36rem;
 
    }


.profile{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 3rem;
    

    &__container{
        background-color: $salmon;
        margin: 3rem 0rem;
        border-radius: 1rem;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 80%;

    &:nth-child(2){
        background-color: $purple-pearly;
    }
    &:nth-child(3){
        background-color: $sizzling-red;
    }

        
    }

    &__box{
        
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 4rem;

        

    }

    &__text-box{

        border-radius: 2rem;
        padding: 0rem;
    }

    

    &__name{
        font-weight: 600;
        font-size: 1.7rem;
        padding: 1rem;
        color: white;

    }

    &__text{
        font-size: 1.5rem;
        color: white;
        padding: 0rem 2rem;

    }
}


   
.profile-pic{
    height: 15rem;
    width: 15rem;
    border-radius: 50%;
    background-size: cover;
    background-repeat: no-repeat;

    &__1{
        background-image: url(/img.team/pic1.jpg);
    }
    &__2{
        background-image: url(/img.team/pic4.jpg);
    }
    &__3{
        background-image: url(/img.team/pic3.jpg);
    }
  
}