.pics{
    @media (max-width:650px){
        padding: 5rem 20rem;
        flex-wrap: wrap;
     }

     @media (max-width:550px){
        padding: 5rem 10rem;
        flex-wrap: wrap;
     }

     @media (max-width:480px){
        padding: 5rem 20rem;
        flex-wrap: wrap;
     }
 
 
 

  padding: 5rem 10rem;
   
}