*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

html {
    font-size: 62.5%;
    line-height: 3rem;

// @media (max-width:37.5em){//600px phone
// font-size: ;
// }

@media (min-width:56.25em){//900px tab port 
    font-size: 50%;
}

@media (min-width:112.5em){//1200 tab land
    font-size: 56.25%;
}
}

body {
   
    box-sizing: inherit;
    font-family: 'Tajawal', sans-serif;
    justify-content: center;
    align-items: center;
}


section{
    padding: 3rem 3rem; 
    display: flex;
    justify-content: center;
    align-items: center;
}
 


img{
    border-radius: 5%;
}
