h1{
    font-size: 4rem;
    color: $purple-pearly;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 500;
    padding: 6rem;
    
}

h2{
    font-size: 5rem;
    color: white;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 300;
    padding: 3rem;
}

h3{
    font-size: 4rem;
    color: $salmon;
    padding: 2rem 15rem;
}

p{
    padding: 1rem 5rem;
    font-size: 2.1rem;
    line-height: 3.7rem;
    color: #461A3E;
    margin: 1.5rem;

}

h4{
    font-size: 3rem;
    color: wheat;
    font-weight: 300;
    line-height: 5rem;
}

h5{
    font-size: 10rem;
    color: white;
    font-family: 'Tajawal', sans-serif;
    font-weight: 100;
    padding: 3rem;
}

h6{
    font-size: 5rem;
    color: white;
    font-family: 'Tajawal', sans-serif;
    font-weight: 100;
    // padding: 3rem;
}


span{
    color: #461a3e;
    font-size: 4em;
    font-weight: 200;
    padding: 0rem 5rem;
    font-weight: 300;
}

.art > span{
  
    position: absolute;
    font-size: 7rem;
    font-weight: 500;

}

.ourvalues{
    color: $plum;
    left: 25rem;
    top: 11rem;

    
        animation: moveDown 5s;
        
}

.response{
    color: $sizzling-red;
    position: absolute;
    left: 7rem;
    top: 16rem;

    animation: moveinleft 12s;
    }

.collab{
    color:$tangerine;
    right: 9rem;
    top: 16rem;
    
    animation: moveinright 7s;
}
.account{
    color: $salmon;
    left: 20rem;
    top: 23rem;

    animation: moveinleft 9s;
        
}

.child{
    color: $purple-pearly;
    right: 7rem;
    top: 23rem;

    animation: moveinright 13s;
  
}



.section-paragraph{
    padding:0rem 0rem;
   
}


